body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.wholebody{
    color: #6b6a6a;
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 900px;
    padding-left: 20px;
    padding-top: 50px;
}


